/* BODY */
body {
  background-color: #fefefe;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #333;
  text-wrap: balance;
}

/* HERO SECTION */
.hero {
  position: relative;
  min-height: 100vh;
  background: url('../img/foto.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > .container {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Responsive text sizes */
.hero h1 {
  font-size: 2.75rem;
  font-weight: 700;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  font-size: .75rem !important;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero p {
    font-size: 1.25rem;
  }

  a {
  font-size: 1rem !important;
}
}

/* BUTTONS */
button, 
.btn-primary {
  background-color: #2e688f;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
.btn-primary:hover {
  background-color: #294f68;
}

/* NAVBAR */
nav {
  z-index: 9;
  text-wrap: nowrap;
  height: 80px;
}

.nav-link {
  color: white;
  border: .25rem solid white;
  border-radius: 100px;
}

.nav-link:hover,
.nav-link:focus {
  color:#294f68 ;
  background-color: white;
}

#talk .nav-link {
  background-color: white;
  color: #294f68;
}

#talk .nav-link:hover,
#talk .nav-link:focus {
  background-color:#294f68;
  border: .25rem solid #294f68;
  color: white;
}

/* WORKS */
.works {
  margin: auto;
  position: relative;
  height: calc(100vh - 80px);
  z-index: 99999;
  top: 80px;
  max-width: calc(100vw - 8.35vw);
  border-radius: 12px 12px 0 0;
}

/* FOOTER */
footer {
  margin-top: 60px;
  padding: 20px;
  background-color: #f0f0f0;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

